<style>
    path.slice{
        stroke-width:2px;
    }
    polyline{
        opacity: .3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }
    svg text.percent{
        fill:white;
        text-anchor:middle;
        font-size:12px;
    }
    .chart-label{
            width: 90%;
    }

</style>
<script type="text/javascript">


</script>
<h4 class="sub-sub-title">  Order by Type / Facility   </h4>
<div class="chart-wrapper flex" id="order_by_type_chart" >
    <div class="flex-left">
        <div id="donut_order_type"  class="chart-donut" ></div>
        <div class="chart-label">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <th></th>
                    <th> Order Type </th>
                    <th> Count </th>
                    <th> % </th>    
                </thead>
                <tbody>
                    <tr ng-repeat="s in order_by_type_arr "  style="color:{$ s.color $};" >
                        <td> {$ $index + 1 $} </td> <td>{$ s.label | uppercase $} </td> <td>{$  s.value $}</td> <td> {$ (( s.value / total_value ) * 100).toFixed(2) $} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex-right">
        <div id="donut_order_facility"  class="chart-donut" ></div>
        <div class="chart-label">
            <table class="table table-bordered table-striped table-hover" >
                <thead>
                    <th></th>
                    <th> Facility </th>
                    <th>Count</th>
                    <th>% </th>    
                </thead>
                <tbody>
                    <tr ng-repeat="s in order_by_facility_arr "  style="color:{$ s.color $};" >
                        <td> {$ $index + 1 $} </td> <td >{$ s.label | uppercase $} </td> <td>{$  s.value $}</td> <td> {$ (( s.value / total_value ) * 100).toFixed(2) $} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--        <div id="pie_order_com"  class="chart-pie" ></div>

       <div id="pie_facility"  class="chart-pie" ></div> -->
</div>
