{% extends "tracker/tracker_base.html" %}
{% block content %}
<style type="text/css">
	form label{
		width: 150px;
		margin: 10px 20px;
	}
	form input, form select, form .button {
		width: 350px;
	}
	form .action{
		text-align: center;
		margin: 20px auto;
	}
	form textarea{
		width: 800px;
		height: 100px;
		margin-left: 150px;
	}
	form label[for='id_desc'], form label[for='id_phenotype'],form label[for='id_physician_phenotype'],form label[for='id_physician_genelist'], form label[for='id_pertinent_negative']{
        display: block;
    }
	form input[type="radio"] {
		width: 20px;
	}

</style>
<script type="text/javascript">
jQuery(document).ready(function() {
	// $('input#id_physician_phenotype').after('<br />');

	if ($('input#id_flag').val() == ''){
			$('input#id_flag').before('<input type="radio" name="rflag" value="yes" > Yes <input type="radio" name="rflag" value="no"  checked="checked"> Clear ')
	}else{
			$('input#id_flag').before('<input type="radio" name="rflag" value="yes"  checked="checked"> Yes <input type="radio" name="rflag" value="no"> Clear ')
	}
	$('input[type="radio"]').on('click', function(argument) {
		console.log(this.value);
		if(this.value =='no'){
			$('input#id_flag').val('');
		}else{
			$('input#id_flag').val('Flag Message :');
		}
	})
});
</script>
 <div class="sub-title"> <img class="icon" src="/static/IMAGES/icon-orders.gif" />  Order : {{form.instance.order_name}} </div>
<div>
            <form action="/order/{{oid}}/edit/" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="action">
                	<a href="/order/{{oid}}/" class="button btn  btn-default" >  Cancel  </a>
                	<input type="submit" value="  Save " class="button btn btn-primary" /> 
                </div>
            </form>
</div>            
{% endblock content %}