{% extends "workflows/workflows_base.html" %}


{% block content %}


<style>

td, th {
    padding: 5px;

}
.jjson-container {
	max-height: 800px;
    background-color: white;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: blue; }
</style>
<script type="text/javascript">
	gimsApp.controller('analysissController', ['$scope', '$sce', function($scope, $sce) {
		  var None = 'none';
                {% autoescape off %}
                            $scope.analysis = {{ analysis }};
                            
                 {% endautoescape %}
  if(window.location.hostname =='gims-dev.shc.org'){
                console.log( 'analysis', $scope.analysis);
                window.analysis = $scope.analysis;
 }


     $("#jjson").jJsonViewer($scope.analysis,{expanded: true});

    }]);


jQuery(document).ready(function() {

        $('#tabs').tabs();
});

</script>
<div ng-controller="analysissController" class="analysiss">

<div class="">


	<div class="sub-title"> <img class="icon" src="/static/IMAGES/icon-analyze.png" /> analysis : {$ analysis['template']['name'] $}

	</div>  

	<div class="tabs analysis-tabs" id="tabs">
        <ul>
            <li><a href="#showtable" class="showtable" > Table </a></li>
            <li><a href="#showjson" class="showjson" > Json  </a></li>

        </ul>
            <div id="showtable" class="tab">
                <table class="table table-bordered table-striped table-hover">
                    <tr ng-repeat="(key, value) in analysis">

                       <td>  {$ key $} </td><td> {$ value $}</td>
                    </tr`>
                </table>
            </div>
            <div id="showjson" class="tab">
                 <div id="jjson" class="jjson"></div>
            </div>

	</div>	
   



</div>

</div>

{% endblock %}
