{% extends "workflows/workflows_base.html" %}

{% block content %}



<style>

td, th {
    padding: 5px;

}
.flag{
    color:red;
}
.s-container{
    width: 100%;
    text-align: center;
}
.s-container:hover, .s-container.selected{
    background-color: #337ab7;
    color:white;
    font-weight: bold;
}

</style>
<script type="text/javascript">
gimsApp.controller('workflowsController', ['$scope', function($scope) {
                {% autoescape off %}

                 {% endautoescape %}
{% if 'gims-dev.shc.org' in request.environ.HTTP_HOST %}
                 // console.log('container', $scope.container);
 {% endif %}


 }]);

 jQuery(document).ready(function() {

});
function submit_select(sid, cid, asn) {

     $.ajax({
            url:'/lab/select_container/',
            type:'json',
            method:'POST',
            data:{'sid': sid, 'cid':cid },
            error: function()
            {
                //file not exists
                 console.log('error');
            },
            success: function(data)
            {
                console.log(data);
                if(data.status_message == 'Updated'){
                  $('#'+asn).css('display', 'none');  
                }
                user_message('Submit', data.status_message);

                
            }
        });
}

function select_container(sid, asn, cid) {
    $('#modal-title').html('Submit Confirm');
    $('#model-message').html('Are you confirmimg receiving DNA of  "<mark> ' + asn + '</mark> "  with container "<mark> ' + cid + '</mark> " ?');
    $('#yes-button').html('<button type="button" class="btn btn-default" id="yes-button" onclick="submit_select(\''+sid+'\', \''+cid+'\', \''+asn+'\');"> Yes </button>');  
     $('#gimsModal').modal("show"); 
}
</script>
{% load custom_filter %}
<div ng-controller="workflowsController" class="workflows">


  <div class="main ">

      {% include "workflows/com/lab_header.html" %}
      <div class="list-table for-print">
              <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th> Patient Name </th><th>ASN</th>  <th>collection date</th> <th>Container ID</th> <th> type </th> <th>Status  </th> <th> Days</th> <th> Notes</th>
                      </tr>
                  </thead>

                  <tbody>
                  {% for so in so_list %}

                      <tr id="{{so.asn}}">
                          <td> {{so.pname}}</td>
                          <td><a href="/sample/{{so.sample_id}}/ "> {{so.asn}} </a> </td> 
                          <td> {{so.date_text}}</td>
                          <td> 
                                  <div>
                                       {% for c in container%}
                                          {% if c.sample_id == so.sample_id %}
                                               <div class="s-container" id="{{c.sample_id}}-{{c.cid}}" onclick="select_container('{{c.sample_id}}', '{{so.asn}}', ' '+'{{c.cid}}');" > {{ c.cid}} </div>

                                          {% endif %}
                                   {% endfor %}
     
                                  </div>
                                 
                                  
                          </td>
                           <td> {{so.type}}</td> 
                          <td> {{so.status}}</td> 
                          <td class="{% if so.cdate|is_past_due == 'YES'  %} flag {% endif %}  "> {{so.cdate|timesince}} </td>
                          <td title="{{so.notes}}"> {{so.notes}}</td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>

      </div>


  </div>
        <div> <button class="button btn btn-primary btn-sm" id="button_print"  onclick="print_div();"> Print </button>
         <button class="button btn btn-primary btn-sm" onclick="save_div();" id="button_save"> Export to CSV </button> </div>

</div>

  {% include "com/message_modal.html" %}

{% endblock %}
