{% extends "tracker/tracker_base.html" %}
{% block content %}
<style type="text/css">
	form label{
		width: 150px;
		margin: 10px 20px;
	}
	form input, form select, form .button {
		width: 350px;
	}
	form .action{
		text-align: center;
		margin: 20px auto;
	}
	form textarea{
		width: 800px;
		height: 100px;
		margin-left: 150px;
	}
	form label[for='id_desc'],  form label[for='id_note'], form label[for='id_phenotype'],form label[for='id_physician_phenotype'],form label[for='id_physician_genelist'], form label[for='id_pertinent_negative']{
        display: block;
    }
	form input[type="radio"] {
		width: 20px;
	}
	form input#id_secondary_findings_note{
		width: 750px;
	}
	form input#id_flag, form .message-text{
		margin-left: 30px;
	}
</style>
<script type="text/javascript">
jQuery(document).ready(function() {
	// $('input#id_physician_phenotype').after('<br />');




	$('#id_status').attr('readonly', 'readonly');

});
</script>
 <div class="sub-title"> <img class="icon" src="/static/IMAGES/icon-orders.gif" /> {{title}}</div>
<div>
            <form action="/sample/{{sid}}/edit/" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="action">
                	<input type="submit" value="  Save " class="button btn btn-primary" /> 
                	<a href="/sample/{{sid}}/" class="button btn  btn-default" >  Cancel  </a>
                	
                </div>
            </form>
</div>            
{% endblock content %}