{% extends "base.html" %}
{% block head-content %}
<style type="text/css">
.base-info{
	border: solid 1px black;
	width: 800px;
	margin:auto;
}
.base-info .key{
	display: inline-block;
	width: 200px;
}
.base-info .value{
	display: inline-block;
	/*min-width: 300px;*/
}
.base-info .value input{
	width: 400px;
}
</style>
{% endblock %}

{% block content %}


<div class="base-info">
	<div>
		<div class="key">First Name</div>
		<div class="value"><input type="" name=""></div>
	</div>
	<div>
		<div class="key">Last Name</div>
		<div class="value"><input type="" name=""></div>
	</div>
	<div>
		<div class="key">First Name</div>
		<div class="value"><input type="" name=""></div>
	</div>
	<div>
		<div class="key">Last Name</div>
		<div class="value"><input type="" name=""></div>
	</div>
		
</div>


<div class="text-center top-buffer">



</div>



<!--<div class="text-center top-buffer">-->

    <!--<a href="/twothreeandme/update_chromosome/1/"> Update Chromosome </a>-->





<!--</div>-->

<!--<div class="text-center top-buffer">-->


<!--<a href="/twothreeandme/update_accessions/"> Update Accessions </a>-->



<!--</div>-->
{% endblock %}