{% extends "base.html" %}
{% block head-content %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}




<div class="text-center top-buffer">

<a href="{{message}}"> GO / Grant from 23andMe </a>




</div>



<!--<div class="text-center top-buffer">-->

    <!--<a href="/twothreeandme/update_chromosome/1/"> Update Chromosome </a>-->





<!--</div>-->

<!--<div class="text-center top-buffer">-->


<!--<a href="/twothreeandme/update_accessions/"> Update Accessions </a>-->



<!--</div>-->
{% endblock %}